<div class="show-content">
  <div class="row background-show" data-controller="toggle-rental-form">
    <%= render "shared/show-card", class: "col-sm-12" %>
    <div class="container rent-form <%= "d-none" unless @rental.errors.present? %> create-form" data-toggle-rental-form-target="formContainer">
      <%= simple_form_for([@nft, @rental]) do |f| %>
        <div class="form-inputs">
          <%= f.input :start_date, html5: true %>
        </div>
        <div class="form-inputs">
          <%= f.input :end_date, html5: true  %>
        </div>
        <div class="form-actions btn btn-light mb-3">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
