<div class="row">
  <% @nfts.each do |nft| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-3">
      <div class="index-card">
        <div class="overviewInfo">
          <div class="productinfo">
            <div>
              <div class="grouptext">
                <h3>NAME</h3>
                <p><%= nft.name %></p>
              </div>
              <div class="grouptext">
                <h3>Price</h3>
                <p><%= nft.price %> $</p>
              </div>
              <div class="grouptext">
                <h3>Wallet Address</h3>
                <p><%= nft.wallet_address %></p>
              </div>
            </div>
            <div class="buttonShow">
              <%= link_to 'Show', nft_path(nft), class:"btn btn-primary" %>
            </div>
          </div>
        </div>

          <!-- overview info -->
        <div class="productSpecifications">
          <h1> <%= nft.name %> </h1>
          <div class="checkoutButton">
            <div class="priceTag">
              <span>$</span><%= nft.price %>
            </div>
            <button class="btn btn-primary">
              Rent
            </button>
          </div>
        </div>
        <!-- product specificaiton -->
      </div>
      <!-- wrapper-->
    </div>

  <% end %>
</div>
