<div class="row justify-content-center">
  <% @nfts.each do |nft| %>
    <div class="index-card col-3">
        <div class="overviewInfo">
          <div class="productinfo">
          <div>
            <div class="grouptext">
              <h3>NAME</h3>
              <p><%= nft.name %></p>
            </div>
            <div class="grouptext">
              <h3>Price</h3>
              <p><%= nft.price %> $</p>
            </div>
            <div class="grouptext">
              <h3>Wallet Address</h3>
              <p><%= nft.wallet_address %></p>
            </div>
          </div>
            <div class="buttonShow">
             <%= link_to 'Show', nft_path(nft), class:"btn btn-primary" %>
            </div>
        </div>
      </div>
        <!-- overview info -->
      <div class="productSpecifications">
          <h1> <%= nft.name %> </h1>
          <p> <%= nft.description %> </p>
          <div class="checkoutButton">
            <div class="priceTag">
              <span>$</span><%= nft.price %>
            </div>
            <button class="btn btn-primary">
              <p>Rent</p>
              <div class="buttonaction">
              </div>
            </button>
          </div>
        </div>
        <!-- product specificaiton -->
      </div>
      <!-- wrapper-->
  <% end %>
</div>
